{{#each categorias}} <!--Para cada categorias ele mostra dentro de um card -->
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{nome}}</h4> <!--Mostra o nome da categoria--> 
            <!--Título-->  
            <br>
            <small>Data de criação: {{date}}</small>
        </div>
    </div>
{{else}}

{{/each}}