
<link type="text/css" rel="stylesheet" href="/css/index.css">
    <main>
        <div id="mainSlider" class="carousel slide carousel-fade " data-bs-ride="carousel" id="carousel-index">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="img/slider1.png" class="d-block w-100" alt="ver mais">
                <div class="carousel-caption d-none d-md-block"> <!--Junta o texto ao slide-->
                    <div class="move-text">
                        <h2>Suas contas, descomplicadas</h2>
                        <p>o blog que vai facilitar sua vida financeira!</p>
                    </div>
                    <a href="#" class="main-btn"> Veja mais! </a>
                </div>  
            </div>
              <div class="carousel-item">
                <img src="img/slider2.png" class="d-block w-100" alt="...">
                <div class="carousel-caption d-none d-md-block"> <!--Junta o texto ao slide-->
                    <div class="move-text">
                        <h2> Está pronto(a) para começar?</h2>
                        <p> Aprenda sobre finanças e enriqueça!</p>
                    </div>
                    <a href="#" class="main-btn"> Veja mais! </a>
                </div>
              </div>

            </div>
            <!--Saiba para onde seu dinheiro vai-->
            <div id="about-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-7">
                            <h3 class="about-title">Saiba para onde vai o seu dinheiro</h3>
                            <p>com blog, você aprende como categorizar todos os seus lançamentos. sabendo assim de onde vem e para onde vai o seu dinheiro.</p>
                            <a href="#" class="btn-2"> Veja mais! </a>
                        </div>

                        <div class="col-md-5">
                            <!--img fluid adapta a imagem. faz parte do bootstrap-->
                            <img class="img-fluid" src="img/saiba.png" alt="saiba">
                        </div>
                           <hr>
                    </div>
                </div>
            </div>

            <!--Mais sobre a empresa-->
            <div id="about-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5">
                            <!--img fluid adapta a imagem. faz parte do bootstrap-->
                            <img class="img-fluid" src="img/juros.png" alt="facil">
                        </div>

                        <div class="col-md-7">
                            <h3 class="about-title">Pare de pagar juros e economize</h3>
                            <p>Manter as contas em dia é sempre um problema, aprenda passo a passo como ter mais controle e pague menos juros.</p>
                            <a href="#" class="btn-2"> Veja mais! </a>
                        </div>

                           <hr>
                    </div>
                </div>

                <!-- serviços-->
            <div id="services-area">
                <div class="container">
                    <div class="row">
                        <div class="col-md-4">
                            <img class="img-fluid" src="img/facil.png" alt="facil">
                            <h4 >Fácil de aprender!</h4>
                            <p>Acompanhe os vídeos e postagens do blog e aprenda de vez como controlar suas finanças.</p>
                        </div>
                        <div class="col-md-4">
                            <img class="img-fluid" src="img/economize.png" alt="economize">
                            <h4>Economize seu tempo!</h4>
                            <p>Aprenda de maneira muito fácil e quando você puder, leia os artigos usando seu celuar ou computador.</p>
                        </div>
                        <div class="col-md-4">
                            <img class="img-fluid" src="img/suporte.png" alt="facil">
                            <h4>Suporte amigo!</h4>
                            <p>Caso você tenha alguma dúvida, você pode nos enviar um e-mail que iremos ajudá-lo com suas finanças.</p>
                        </div>
                    </div>
                </div>
            </div>
            </div>

            
            </div>
        </main>
</html>